
// ---------- IMPORTS ----------
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";


// ---------- STYLES ----------
html, body {
  height: 100%;
  min-height: 100%;
  background-color: $light-grey;
}

.wrapper {
  position: relative;
}

.body {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
}

.navbar-fixed-top {
  height: 55px;
  background-color: $grey;

  .navbar-header {
    padding-top: 10px;
    color: white;
  }

  .navbar-nav {
    i {
      font-size: 20px;
      padding-right: 7px;
    }
  }

  li > a {
    text-align: center;
    color: white;
    height: 48px;
    padding-top: 17px;

    &:hover, &:focus {
      background: none;
      border-bottom: 3px solid $green;
    }
  }
}

.instruction-list {
  margin-top: 15px;

  .panel {
    border: none;

    .panel-heading {
      background-color: $grey;
      padding-top: 15px;

      .opcode {
        color: white;
        padding-left: 25px;
        padding-top: 2px;
      }

      .operation {
        padding-top: 2px;
        color: white;
      }
    }
  }

  .panel.in {
    background-color: white;
  }

  .panel-collapse {
    background-color: $green;
    border: 1px solid $green;
  }

  .toggle {
    background: none;
    border: none;
    float: right;

    .fa {
      font-size: 25px;
      color: $green;
    }

    &:focus {
      outline: none;
    }
  }
}

.subheader {
  color: white;
  border-bottom: 2px solid $green;
  display: inline-block;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.search {
  border-color: $green;
  background: none;
  color: white;

  &:focus {
    border-color: #21ce99;
  }
}